.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opening {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.op-txt {
    color: var(--fc-white);
    font-family: 'Evogria-Italic';
    font-size: 5em;
}

