.nav-bar {
    margin-top: 2em;
    display: flex;
    justify-content: space-evenly;
}

.nav-item {
    text-transform: lowercase;
    font-family: 'Evogria';
    color: #fff;
    font-size: 1.1em;
    cursor: pointer;
}

.nav-item:hover {
    color: var(--fc-red);
}

.nav-content {
    display: flex;
    gap: 20px;
}