@import url(./theme.css);
@import url(./fonts.css);
@import url(./header.css);
@import url(./sections.css);
@import url(./footer.css);
@import url(./waves.css);
@import url(./animations.css);

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background-color: var(--bg-black);
}

body::-webkit-scrollbar {
    display: none;
}

section {
    position: relative;
    padding-top: 100px;
}

.layout {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}