@import url(./theme.css);
@import url(./fonts.css);
@import url(./navbar.css);

html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: var(--bg-black);
}

.layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}