@font-face {
    font-family: 'Evogria';
    src: url(../../assets/fonts/Evogria.woff) format('woff');
}

@font-face {
    font-family: 'Evogria-Italic';
    src: url(../../assets/fonts/Evogria-Italic.woff) format('woff');
}